{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
	<div>
		<a href="{{ path('task_listing') }}" class=" btn btn-dark m-5">{{ 'general.button.back' | trans }}</a>
	</div>
{% endblock %}
